@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --teal: #437e60;
    --dark-teal: #3bab71;
    --white: #fcfcfc;
    --grey: #E5E5E5;
    --black: #000;
    --light-grey: #E5E5E5;
    --dark-grey: #171719;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler {
    width: 30px;
    height: 10px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d83434;
    border-radius: 1;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/*when navigation is clicked*/

.navbar-toggler .top-bar {
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0;
    transform: rotate(-135deg);
}


/*state when the navbar is collapsed*/

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=1);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background: #40826d;
}

* {
    font-family: 'Fira Sans', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.navbar li {
    font-size: 1.5rem;
    font-weight: 200;
}

a.nav-link {
    font-weight: 400;
    font-size: 1.2rem;
}


/*Landing*/

#Landing h2 {
    text-align: left;
    padding: 5px 0px 5px 5px;
    opacity: 1;
    color: var(--white);
}

#Landing h3 {
    text-align: left;
    padding: 5px 0px 5px 5px;
    opacity: 1;
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
}

#bold {
    font-weight: 600;
    font-size: 3rem;
}

#normal {
    font-weight: 400;
    font-size: 2rem;
}

#center h2 {
    text-align: center;
}

#Landing div {
    width: 90vw;
    align-items: flex-start;
}

#Landing {
    background-color: var(--white);
    height: 60vh;
    background-image: url(landing4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0%;
}

@media screen and (max-width: 768px) {
    #Landing {
        height: 50vh;
    }
}

.section-title {
    font-size: 28px;
    margin-bottom: 23px;
    padding-bottom: 11px;
    display: inline-block;
    position: relative;
}

.section-title:after,
.section-title:before {
    content: "";
    position: absolute;
    bottom: 0;
}

.section-title:after {
    height: 2px;
    background-color: rgba(24, 24, 24, 0.46);
    left: 10%;
    right: 10%;
}

.section-title:before {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    background-color: #437e60;
    left: 50%;
    transform: translatex(-50%);
    bottom: -9px;
    z-index: 9;
    border-radius: 50%;
}

.info p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 300;
}

.info {
    margin-bottom: 5vh;
}

.accordion {
    max-width: 70vw !important;
    margin: 50px auto;
    box-shadow: 0 2px 25px 0 rgba(110, 130, 208, .18) !important;
}

.accordion-button {
    background-color: #437e60 !important;
    color: var(--white) !important;
    position: relative;
    box-shadow: none !important;
}

.accordion-button:active,
.accordion-button:focus {
    border: none !important;
}

.accordion-button:hover {
    background: #25aca3 !important;
}

.accordion-button::after {
    content: "";
    background: #fff;
    transform: scale(1.2);
    border-radius: 3px;
    transition: .5s !important;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 50vw;
}

footer {
    padding: 1vw;
    background-color: var(--dark-grey);
    color: var(--white);
}

footer a {
    color: var(--white);
}

.footer-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;
    font-size: 1rem;
}

.footer-div img {
    width: 200px;
}

.footer-div p {
    margin-bottom: 5px;
    font-weight: 300;
}

.footer-div h6 {
    font-weight: 600;
}

@media screen and (max-width: 668px) {
    .footer-div {
        flex-direction: column;
    }
    .footer-div div {
        margin-bottom: 20px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards li {
    border: 2px solid;
    border-radius: 5px;
    background-color: #3bab71;
    color: #fff;
    flex: 1 1 200px;
}

.cards h2 {
    background-color: #437e60;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.cards p {
    padding: 10px;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.flex li {
    flex: 1 1 200px;
    margin: 10px;
}

button.buttons1 {
    padding: 7px 21px;
    border-radius: 23px;
    border: none;
    color: var(--white);
    background-color: var(--teal);
    font-size: 1.3rem;
}

.buttons1:hover {
    background-color: #a8d3c6;
}

.buttons1 a {
    text-decoration: none;
    color: var(--white);
}

.divi {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
}

.listrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.listcolumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0 5px;
}

.listcard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 30px;
}

.listcard h3 {
    color: var(--teal);
    text-decoration: underline;
}

.rowitem h4 {
    color: var(--teal);
}

.rowitem {
    text-align: center;
    width: 30%;
    padding: 0 5px;
}

.rowdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

@media screen and (max-width: 799px) {
    .listrow {
        flex-direction: column;
    }
    .rowdiv {
        flex-direction: column;
    }
    .rowitem {
        width: 100%;
    }
    .row1 {
        width: 70vw;
    }
}